#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    background-image: url("https://img.freepik.com/foto-gratis/filas-asientos-rojos-teatro_53876-64710.jpg?w=1060&t=st=1679268097~exp=1679268697~hmac=7af3ca07cc124d24e07787951cc156401cc0d90866d26ce18a3d2ea0e3496a30");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  h2 {
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    opacity: 0.9;
  }
}
